/* styles/index.css */
@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

/* HERO */
#hero {
  width: 100vw;
  height: 100vh;
  background: #000;
  background-image: url("/images/FINAL_HERO.webp");
  background-position: bottom center;
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
}
@media screen and (min-width: 992px) {
  #hero {
    width: 100vw;
    height: 100vh;
    background: #000;
    background-image: url("/images/FINAL_HERO.webp");
    background-position: bottom center;
    background-size: 100% auto;
    background-attachment: fixed;
    background-repeat: no-repeat;
  }
}
